<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="text-center">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <!-- Input de Email -->
      <ion-label class="text-gray-400 text-lg font-semibold">Email</ion-label><br>
      <input #emailModel="ngModel" [(ngModel)]="email" name="email"
        class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="email" required
        placeholder="correo@email.com"><br><br>
      <div *ngIf="emailModel.invalid && emailModel.touched" style="color:red;">Por favor ingresa un correo válido</div>

      <button
        class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        expand="full" type="submit" [disabled]="loginForm.invalid">Enviar</button>
    </form>

    <button (click)="onSignup()"
      class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Go
      to Login</button>
  </div>
</ion-content>